.nav_libreria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
    background-color: var(--colorOscuro);
    font-weight: bold;
    width: 100%;
}

.logo_libreria{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icono_libreria{
    width: 50px;
    height: 50px;
}

.name_libreria{
    font-size: 40px;
    font-weight: bold;
    color: var(--colorBlanco);
    text-decoration: none;
}

.nav_libreria--links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 10px; 
    padding-left: 40px; 
    font-weight: lighter;
    font-size: 18px;
}

.nav_libreria--sin_loguear{
    display: flex;
    gap: 20px;
}

.link{
    color: var(--colorBlanco);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.cerrar_sesion{
    background-image: url(https://w7.pngwing.com/pngs/951/367/png-transparent-close-exit-logout-power-glyphs-icon-thumbnail.png);
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    background-size: 40px 40px;
    background-position: center;
}

/* media querys */
@media screen and (max-width: 790px) {
    .icono_libreria{
        display: none;
    }
    .name_libreria{
        font-size: 20px;
    }
}

@media screen and (max-width: 300px) {
    .logo_libreria{
        display: none;
    }

    .nav_libreria--links{
        justify-content: flex-start;
        align-items: center;
        padding: 0px;
        gap: 12px;
        font-size: 10px;
    }
}