<nav class="nav_libreria">
    <div class="logo_libreria">
        <img src="./assets/img/icono_libreria2.png" alt="BookEster" class="icono_libreria">
        <a class="name_libreria" href="#">BookEster</a>
    </div>
    
    <div class="nav_libreria--links">
        <a class="link" routerLink=''>Home</a>
        <a class="link" routerLink='register'>Register</a>
        <a class="link" routerLink='profile'>Profile</a>
        <!-- aqui iran el resto de enlaces de la barra de navegacion -->
    </div>
</nav>