.profile_page{
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("/assets/img/fondo_profile.jpeg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center top;
    min-height: 86vh;
    gap: 10px;
}

.datos_perfil{
    margin: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px white;
    background-color: rgba(176,142,107,0.7);;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    height: 480px;
}

img{
    height: 250px;
    width: 250px;
}

.name_profile{
    color: var(--colorBlanco);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.campo_datos{
    display: flex;
    justify-content: center;
    gap: 10px;
    color: var(--colorBlanco);
    margin-bottom: 10px;
}

.datos{
    font-size: 18px;
    width: 80px;
}

.caja_dato{
    border-radius: 4px;
    width: 240px;
    background-color: var(--colorBlanco);
    color: var(--colorOscuro);
    text-align: center;
    padding-top: 2px;
}

.formulario_perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(176,142,107,0.7);
    box-shadow: 2px 2px 4px white;
    padding: 12px;
    height: 480px;
}

.editar_datos{
    border-bottom: 4px solid var(--colorOscuro);
    color: var(--colorOscuro);
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}
.margen{
    margin-top: 10px;
    width: 320px;
}

.color{
    background-color: var(--colorOscuro);
    color: var(--colorBlanco);
    margin-top: 40px;
}

.modificar_datos{
    display: none;
    color: green;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
}

.no_modificar_datos{
    display: none;
    color: red;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
}

/* .ocultar{
    display: none;
} */

/* Estilo base para pantallas más pequeñas (menos de 768px) */
@media (max-width: 768px) {
    .profile_page {
        padding: 2%;
        min-height: 100vh;
    }

    .datos_perfil,
    .formulario_perfil {
        height: auto;
        width: 340px;
    }

    img {
        height: 200px;
        width: 200px;
    }

    .name_profile {
        font-size: 24px;
    }

    .campo_datos {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .datos {
        font-size: 14px;
        width: 60px;
    }

    .caja_dato {
        width: 180px;
        padding-top: 1px;
    }
}

/* Estilo para pantallas medianas (entre 768px y 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .profile_page {
        padding: 2%;
    }

    .datos_perfil,
    .formulario_perfil {
        height: auto;
    }

    img {
        height: 200px;
        width: 200px;
    }

    .name_profile {
        font-size: 26px;
    }

    .campo_datos {
        font-size: 18px;
        margin-bottom: 7px;
    }

    .datos {
        font-size: 16px;
        width: 70px;
    }

    .caja_dato {
        width: 200px;
        padding-top: 2px;
    }
}

/* Estilo para pantallas grandes (más de 1024px) */
@media (min-width: 1025px) {
    .profile_page {
        padding: 3%;
    }

    .datos_perfil,
    .formulario_perfil {
        height: 480px;
    }

    img {
        height: 250px;
        width: 250px;
    }

    .name_profile {
        font-size: 30px;
    }

    .campo_datos {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .datos {
        font-size: 18px;
        width: 80px;
    }

    .caja_dato {
        width: 240px;
        padding-top: 2px;
    }
}