<div class="page_books">
        <form class="form-inline my-2 my-lg-0 search">
            <input class="form-control mr-sm-2" type="search" placeholder="id Book" aria-label="Search" #mostrarUno>
            <button class="btn boton_search my-2 my-sm-0" type="reset" (click)="mostrarId(mostrarUno.value);">Search</button>
        </form>

    <div class="contenedor_cards">
        <div *ngIf="books.length == 0">
            <h1 style="color: white; font-weight: bold;">No hay libros que mostrar</h1> 
        </div>
        <div *ngFor="let book of books; let par = even;">
            <app-card [libro] = "book" [par]="par" (idLibro)="removeBook($event)"></app-card>
        </div>
    </div>
</div>
