<div class="page_books">
    <div class="contenedor_cards">
        <div *ngIf="books.length == 0">
            <h1 style="color: white; font-weight: bold;">No hay libros que mostrar</h1> 
        </div>
        <div *ngFor="let book of books; let par = even;">
            <div class="card style_card" style="width: 18rem;">
                <img class="card-img-top imagen_card" src={{book.photo}} alt="Card image cap">
                <div class="card-body">
                <div class="cuerpo">
                  <h5 class="card-title titulo_card">{{book.title}}</h5>
                  <span>- {{book.type}}</span><br>
                  <span>- {{book.author}}</span><br>
                </div>
                <p>{{book.id_user | reference}}</p>
                <p class="precio">{{book.price}} €</p>
                <a href="#" class="btn boton" [ngStyle]="{'background-color': par ? '#56070C' : '#b08e6b'}">Comprar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor_formulario">
        <p class="titulo_formulario_books">Añadir libro</p>
        <form>
            <div class="form-group margen">
            <input type="titulo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Titulo" #titulo>
            </div>
            <div class="form-group margen">
            <input type="tapa" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tapa dura/blanda" #tapa>
            </div>
            <div class="form-group margen">
            <input type="autor" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Autor" #autor>
            </div>
            <div class="form-group margen">
            <input type="precio" class="form-control" id="exampleInputPassword1" placeholder="Precio" #precio>
            </div>
            <div class="form-group margen">
            <input type="photo" class="form-control" id="exampleInputPassword1" placeholder="Photo" #photo>
            </div>
            <div class="form-group margen">
            <input type="codigo" class="form-control" id="exampleInputPassword1" placeholder="Código libro" #codigo>
            </div>
            <button type="reset" class="btn margen color_boton" (click)="addBook('',codigo.value,titulo.value,tapa.value,autor.value,precio.value,photo.value);">Registrar libro</button>
        </form>
    </div>
</div>
