.page_books{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/img/fondo_profile.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 30vw;
    padding: 20px;
}

.boton_search{
    color: var(--colorBlanco);
    background-color: var(--colorOscuro);
}

.contenedor_cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
    gap: 20px;
}

.style_card {
    width: 200px;
}

.cuerpo{
    height: 120px;
}

.style_card:hover{
    border: 6px solid var(--colorOscuro);
}

.imagen_card{
    height: 200px;
}

.titulo_card{
    color: var(--colorOscuro);
    font-weight: bold;
    text-decoration: underline;
}

.precio{
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}

.boton{
    color: var(--colorBlanco);
    width: 100%;
}