.footer{
    background-color: var(--colorOscuro);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    /* height: 10vh; */
}

.iconos_rrss{
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 595px) {
    .iconos_rrss{
        display: none;
    }
}