<!-- Footer -->
<nav class="nav nav-pills flex-column flex-sm-row footer">
    <a class="flex-sm-fill text-sm-center nav-link text-light" href="#">
        <img class="iconos_rrss" src="./assets/img/600px-Instagram_icon.png" alt="">
        Instagram
    </a>
    <a class="flex-sm-fill text-sm-center nav-link text-light" href="#">
        <img class="iconos_rrss" src="./assets/img/YouTube_icon_(2011-2013).svg.png" alt="">
        Youtube
    </a>
    <a class="flex-sm-fill text-sm-center nav-link text-light" href="#">
        <img class="iconos_rrss" src="./assets/img/Twitter2.svg.png" alt="">
        Twitter
    </a>
    <a class="flex-sm-fill text-sm-center nav-link text-light" href="#">
        <img class="iconos_rrss" src="./assets/img/Facebook_logo_(square).png" alt="">
        Facebook
    </a>
    <a class="flex-sm-fill text-sm-center nav-link disabled text-light" href="#" tabindex="-1" aria-disabled="true">©BookEster todos los derechos reservados 2023</a>
</nav>
