.container_home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url("/assets/img/ezgif.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

  .creditos_video{
    padding: 12px;
    text-align: center;text-shadow: 2px 2px 4px black;
    font-weight: bold;
    font-size: 40px;
    color: var(--colorOscuro);
    z-index: 1000;
    margin-bottom: 20px;
  }

.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--colorBlanco);
}

img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.datos{
    margin-top: 10px;
    align-self: self-start;
}

/* @media screen and (max-width: 950px) {
    .container_home{
        display: flex;
        flex-direction: column;
    }

    .container_video{
        height: 50vh;
    }
} */

@media screen and (max-width: 500px) {
    .creditos_video{
        font-size: 20px;
    }

    .contacto{
        font-size: 12px;
    }

    img{
        width: 20px;
        height: 20px;
    }
    /* .container_video{
        display: none;
    } */
}