<div class="container_home">
    <!-- <div class="container_video">
        <img src="./assets/img/ezgif.gif">
        <p class="creditos_video">"La LECTURA nos abre las PUERTAS del mundo que te atrevas a IMAGINAR"</p>
    </div> -->
    <p class="creditos_video">"La LECTURA nos abre las PUERTAS del mundo que te atrevas a IMAGINAR"</p>
    <div class="contacto">
        <h1 style="font-weight: bold;">DÓNDE ENCONTRARNOS</h1>
        <div class="datos">
            <div style="margin-top: 10px;"><img src="./assets/img/ubicacion.png" alt="">Bravo Murillo 128, 28005 (Madrid)</div>
            <div style="margin-top: 10px;"><img src="./assets/img/mail.png" alt="">info@bookester.com</div>
            <div style="margin-top: 10px;"><img src="./assets/img/telefono.png" alt="">+34 91 604 42 90</div>       
            <div style="margin-top: 10px;"><img src="./assets/img/whatsapp.png" alt="">+34 637 103 358</div>               
        </div>

    </div>
</div>
