.formulario{
    border-radius: 8px;
    width: 50vw;
    padding: 10px;
    background-color: var(--colorClaro);
}

.titulo_formulario{
    color: var(--colorOscuro);
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    border-bottom: 4px solid var(--colorOscuro);
}

.margen{
    margin-top: 10px;
}

.color{
    background-color: var(--colorOscuro);
    font-style: bold;
    width: 100%;
    color: var(--colorBlanco);
}